@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Syne:wght@500;600&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #F6F5F2;
  font-family: 'DM Sans', sans-serif;
}

button {
  font-family: 'DM Sans', sans-serif;
}